
@{
    ViewBag.Title = "Configuration";
}

<h2>Configuratie overzicht</h2>

<br />

<div class="card-deck">
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h4 class="card-title">@ViewBag.RoomName</h4>
            <div class="card-text">
                <h5 class="card-subtitle">Huidig concept:</h5>
                <p class="small">SCI output: @ViewBag.CurrentConceptSCI</p>
                <p class="small">Co2: @ViewBag.CurrentConceptCO2 kg Co2</p>
            </div>
            
            <div class="card-text">
                <h5 class="card-subtitle">Nieuw concept:</h5>
                <p class="small">SCI output: @ViewBag.NewConceptSCI</p>
                <p class="small">Co2: @ViewBag.NewConceptCO2 kg Co2</p>
            </div>
        </div>
    </div>
</div>


    

    

