@using System.Web.UI.WebControls

<div class="jumbotron text-center">
    
<h2 >Profiel van <span class="font-weight-bold">@ViewBag.firstletter.ToUpper(). @ViewBag.lastname</span></h2>
</div>
<div class="row">
    <div class="col-md-12 border-bottom">
        <h4>Details</h4>
    </div>
    <div class="col-md-12">
        <br>
    </div>
    
    <dl class="row col-md-12">
        
        <dt class="col-sm-3">Voornaam</dt>
        <dd class="col-sm-9">@ViewBag.firstname</dd>
        <dt class="col-sm-3">Achternaam</dt>
        <dd class="col-sm-9">@ViewBag.lastname</dd>
        <dt class="col-sm-3">Emailadres</dt>
        <dd class="col-sm-9">@ViewBag.email</dd>
        <dt class="col-sm-3">Rol</dt>
        <dd class="col-sm-9">Beheerder</dd>
    </dl>
   
</div>