@using System.Web.UI.WebControls

@{
    ViewBag.Title = "Profile";

    
}

<h2 style="text-align: center;">Profiel van @ViewBag.firstletter. @ViewBag.lastname</h2>

<div class="row">
    <div class="col-md-12 border-bottom">
        <h4>Details</h4>
    </div>
    <div class="col-md-12">
        <br>
    </div>
    
    <dl class="row col-md-12">
        
        <dt class="col-sm-3">Voornaam</dt>
        <dd class="col-sm-9">@ViewBag.firstname</dd>
        <dt class="col-sm-3">Achternaam</dt>
        <dd class="col-sm-9">@ViewBag.lastname</dd>
        <dt class="col-sm-3">Emailadres</dt>
        <dd class="col-sm-9">@ViewBag.email</dd>
        <dt class="col-sm-3">Rol</dt>
        <dd class="col-sm-9">Beheerder</dd>
    </dl>
    <div class="col-md-12 border-bottom">
        <h5>Acties</h5>
    </div>
    <div class="col-md-12">
        <br>
        <button type="button" class="btn btn-primary" onclick="location.href = 'https://localhost:44355/Navigation/AddMaterial'">Toevoegen materiaal</button>
        <button type="button" class="btn btn-secondary" onclick="location.href = 'https://localhost:44355/Configuration/Configuration'">Configuratie overzicht</button>
    </div>
</div>