@using System.Web.UI.WebControls

<div class="jumbotron text-center alert-secondary">
    
<h2 >Profiel van <span class="font-weight-bold">@ViewBag.firstletter.ToUpper(). @ViewBag.lastname</span></h2>
</div>
<div class="row border-bottom">
    <div class="col-md-12 border-bottom">
        <h4>Details</h4>
    </div>
    <div class="col-md-12">
        <br>
    </div>
    
    <dl class="row col-md-12">
        
        <dt class="col-sm-3">Voornaam</dt>
        <dd class="col-sm-9">@ViewBag.firstname</dd>
        <dt class="col-sm-3">Achternaam</dt>
        <dd class="col-sm-9">@ViewBag.lastname</dd>
        <dt class="col-sm-3">Emailadres</dt>
        <dd class="col-sm-9">@ViewBag.email</dd>
        <dt class="col-sm-3">Rol</dt>
        <dd class="col-sm-9">Beheerder</dd>
    </dl>
   
</div>
<br />

<button class="btn btn-danger" onclick="location.href = 'https://localhost:44355/';">
    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-arrow-left-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5.5a.5.5 0 0 0 0-1H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5z" />
    </svg>Terug
</button>
