<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - BuildingFutureCities</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>

<nav class="container navbar navbar-expand-lg navbar-dark bg-dark">
        
    @Html.ActionLink("Building Future Cities", "Index", "Navigation", new { area = "" }, new { @class = "navbar-brand" })
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            @{
                if (Request.Cookies["email"] != null &&
                    Request.Cookies["firstname"] != null &&
                    Request.Cookies["lastname"] != null)
                {
                    <li class="nav-item nav-link">
                        @Html.ActionLink("Woonkamer", "Livingroom", "Navigation", new object { }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item nav-link">
                        @Html.ActionLink("Keuken", "Kitchen", "Navigation", new object { }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item nav-link">
                        @Html.ActionLink("Badkamer", "Index", "Bathroom", new { configId = 0 }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item nav-link">
                        @Html.ActionLink("Slaapkamer", "Bedroom", "Navigation", new object { }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item nav-link">
                        @Html.ActionLink("Profiel", "Profile", "Navigation", new object { }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item nav-link">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#logoutModal">
                           Log uit
                        </button>
                    </li>
                }

            }
           
            <!-- Modal -->
            <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Weet je het zeker?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Weet je zeker dat je wilt uitloggen?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Terug</button>
                            @Html.ActionLink("Log uit!", "Logout", "Navigation", new object { }, new { @class = "btn btn-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </ul>
    </div>

</nav>

<div class="container body-content">
    @RenderBody()
    <br />
    <br />
    <footer class="border-secondary border-top" style="text-align: center;">
        <p>&copy; @DateTime.Now.ToShortDateString() - The Sharpers</p>
    </footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>
